<style type="text/css">
    body {
        background: #2f1e2e;
    }
</style>
<table class="highlighttable">
    <tr>
        <td>
            <div class="linenodiv" style="background-color: #f0f0f0; padding-right: 10px"></div>
        </td>
        <td class="code">
            <div class="highlight" style="background: #2f1e2e">
                <pre style="line-height: 125%; white-space: pre-wrap;"><span></span><span style="color: #e7e9db">NSHint[</span><span style="color: #f99b15">3368</span><span style="color: #5bc4bf">:</span><span style="color: #f99b15">627385</span><span style="color: #e7e9db">]</span> <span style="color: #5bc4bf">-</span><span style="color: #e7e9db">[NSHint</span> <span style="color: #e7e9db">giveMeHint]</span><span style="color: #5bc4bf">:</span> <span style="color: #e7e9db">unrecognized</span> <span style="color: #e7e9db">selector</span> <span style="color: #e7e9db">sent</span> <span style="color: #e7e9db">to</span> <span style="color: #e7e9db">instance</span> <span style="color: #f99b15">0xd3adb3ef</span>
<span style="color: #e7e9db">NSHint[</span><span style="color: #f99b15">3368</span><span style="color: #5bc4bf">:</span><span style="color: #f99b15">627385</span><span style="color: #e7e9db">]</span> <span style="color: #5bc4bf">***</span> <span style="color: #e7e9db">Terminating</span> <span style="color: #e7e9db">app</span> <span style="color: #e7e9db">due</span> <span style="color: #e7e9db">to</span> <span style="color: #e7e9db">uncaught</span> <span style="color: #e7e9db">exception</span> <span style="color: #ef6155">&#39;</span><span style="color: #e7e9db">NSInvalidArgumentException</span><span style="color: #ef6155">&#39;</span><span style="color: #e7e9db">,</span> <span style="color: #e7e9db">reason:</span> <span style="color: #ef6155">&#39;</span><span style="color: #5bc4bf">-</span><span style="color: #e7e9db">[NSHint</span> <span style="color: #e7e9db">giveMeHint]</span><span style="color: #5bc4bf">:</span> <span style="color: #e7e9db">unrecognized</span> <span style="color: #e7e9db">selector</span> <span style="color: #e7e9db">sent</span> <span style="color: #e7e9db">to</span> <span style="color: #e7e9db">instance</span> <span style="color: #f99b15">0xd3adb3ef</span><span style="color: #ef6155">&#39;</span>
<span style="color: #5bc4bf">***</span> <span style="color: #e7e9db">First</span> <span style="color: #e7e9db">throw</span> <span style="color: #e7e9db">call</span> <span style="color: #e7e9db">stack:</span>
<span style="color: #e7e9db">(</span>
    <span style="color: #f99b15">0</span>   <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106aa534b</span> <span style="color: #e7e9db">__exceptionPreprocess</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">171</span>
    <span style="color: #f99b15">1</span>   <span style="color: #e7e9db">libobjc.A.dylib</span>                     <span style="color: #f99b15">0x000000010650621e</span> <span style="color: #e7e9db">objc_exception_throw</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">48</span>
    <span style="color: #f99b15">2</span>   <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106b14f34</span> <span style="color: #5bc4bf">-</span><span style="color: #e7e9db">[NSObject(NSObject)</span> <span style="color: #e7e9db">doesNotRecognizeSelector:]</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">132</span>
    <span style="color: #f99b15">3</span>   <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106a2ac15</span> <span style="color: #e7e9db">___forwarding___</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">1013</span>
    <span style="color: #f99b15">4</span>   <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106a2a798</span> <span style="color: #e7e9db">_CF_forwarding_prep_0</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">120</span>
    <span style="color: #f99b15">5</span>   <span style="color: #e7e9db">NSHint</span>                              <span style="color: #f99b15">0x0000000101c76c4b</span> <span style="color: #5bc4bf">-</span><span style="color: #e7e9db">[NSHint</span> <span style="color: #e7e9db">giveMeHint]</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">10</span>
    <span style="color: #f99b15">10</span>  <span style="color: #e7e9db">FrontBoardServices</span>                  <span style="color: #f99b15">0x000000010907976b</span> <span style="color: #e7e9db">__FBSSERIALQUEUE_IS_CALLING_OUT_TO_A_BLOCK__</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">24</span>
    <span style="color: #f99b15">11</span>  <span style="color: #e7e9db">FrontBoardServices</span>                  <span style="color: #f99b15">0x00000001090795e4</span> <span style="color: #5bc4bf">-</span><span style="color: #e7e9db">[FBSSerialQueue</span> <span style="color: #e7e9db">_performNext]</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">189</span>
    <span style="color: #f99b15">12</span>  <span style="color: #e7e9db">FrontBoardServices</span>                  <span style="color: #f99b15">0x000000010907996d</span> <span style="color: #5bc4bf">-</span><span style="color: #e7e9db">[FBSSerialQueue</span> <span style="color: #e7e9db">_performNextFromRunLoopSource]</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">45</span>
    <span style="color: #f99b15">13</span>  <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106a4a311</span> <span style="color: #e7e9db">__CFRUNLOOP_IS_CALLING_OUT_TO_A_SOURCE0_PERFORM_FUNCTION__</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">17</span>
    <span style="color: #f99b15">14</span>  <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106a2f59c</span> <span style="color: #e7e9db">__CFRunLoopDoSources0</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">556</span>
    <span style="color: #f99b15">15</span>  <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106a2ea86</span> <span style="color: #e7e9db">__CFRunLoopRun</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">918</span>
    <span style="color: #f99b15">16</span>  <span style="color: #e7e9db">CoreFoundation</span>                      <span style="color: #f99b15">0x0000000106a2e494</span> <span style="color: #e7e9db">CFRunLoopRunSpecific</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">420</span>
    <span style="color: #f99b15">17</span>  <span style="color: #e7e9db">UIKit</span>                               <span style="color: #f99b15">0x000000010490bdb6</span> <span style="color: #5bc4bf">-</span><span style="color: #e7e9db">[UIApplication</span> <span style="color: #e7e9db">_run]</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">434</span>
    <span style="color: #f99b15">18</span>  <span style="color: #e7e9db">UIKit</span>                               <span style="color: #f99b15">0x0000000104911f34</span> <span style="color: #e7e9db">UIApplicationMain</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">159</span>
    <span style="color: #f99b15">19</span>  <span style="color: #e7e9db">NSHint</span>                              <span style="color: #f99b15">0x0000000101ccf85f</span> <span style="color: #e7e9db">main</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">111</span>
    <span style="color: #f99b15">20</span>  <span style="color: #e7e9db">libdyld.dylib</span>                       <span style="color: #f99b15">0x00000001073e468d</span> <span style="color: #e7e9db">start</span> <span style="color: #5bc4bf">+</span> <span style="color: #f99b15">1</span>
<span style="color: #e7e9db">)</span>

<span style="color: #e7e9db">libc</span><span style="color: #5bc4bf">++</span><span style="color: #e7e9db">abi.dylib:</span> <span style="color: #e7e9db">terminating</span> <span style="color: #e7e9db">with</span> <span style="color: #e7e9db">uncaught</span> <span style="color: #e7e9db">exception</span> <span style="color: #e7e9db">of</span> <span style="color: #e7e9db">type</span> <span style="color: #e7e9db">NSException</span>
</pre>
            </div>
        </td>
    </tr>
</table>