{{ partial "header.html" . }}

<main class="content" role="main">

  <div class="archive">
  
  {{ range .Data.Pages.GroupBy "Section" "asc" }}
    <h2 class="archive-title">{{ .Key }}</h2>
      {{ range .Pages }}
          <article class="archive-item">
              <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
              <span class="archive-item-date">{{ .Date.Format "January 2, 2006" }}</span>
            </article> 
      {{ end }}
  {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
