{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <span class="article-duration">{{ .ReadingTime }} min read</span>
    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "January 2, 2006" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
    
    <div class="author">
      {{ $author := index .Site.Params.authors .Params.author }}
      By <a href="http://twitter.com/{{ $author.twitter }}" class="archive-item-link">{{ $author.displayName }}</a>
      ,
      <span class="article-date">{{ .Date.Format "January 2, 2006" }}</span>
    </div>
    <div class="sharing">
      <br/>
      {{ partial "sharing.html" . }}
    </div>
  </article>

  {{ template "_internal/disqus.html" . }}

</main>

{{ partial "footer.html" . }}
