<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ .Hugo.Generator }}

{{ if eq .URL "/" }}
<title>{{ .Title }}</title>
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="website">
{{ else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
{{ end }}

{{ if eq .URL "/" }}
<meta property="description" content="{{ .Site.Params.description }}">
{{ else }}
  {{ if .Description }}
  <meta property="description" content="{{ .Description }}">
  {{ end }}
{{ end }}

{{ if .Keywords }}
<meta property="keywords" content ="{{ delimit .Keywords ", " }}">
{{ end }}

{{ if .RSSlink }}
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" media="all" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400|Lato:400,400italic,700" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:200" type="text/css">
<link rel="icon" type="image/png" href="/favicon.png" />
