<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" width="{{ .Site.Params.logo.width }}" height="{{ .Site.Params.logo.height }}"></a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}"><span>{{ .Pre }}</span> {{ .Name }} </a></li>
    {{ end }}
  </ul>
</nav>
